// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {color: black;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 2em;
  }

h2 {color: black;
    text-align: center;
    font-style: italic;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 1.4em;


}
